@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    SelectList List = new SelectList(ViewBag.Users, "Id", "UserName");
    string newPassword = ViewBag.NewPassword;
}
<div class="container justify-content-center">
    <div class="col-sm text-center">
        <h3>Zmień Hasło</h3>
        <form asp-action="Index">
            <div class="form-group my-3">
                <label asp-for="UserName" class="control-label mr-5 ml-2 my-3"></label>
                <select asp-items="@(List)"
                        class="form-control" asp-for="Id">
                    <option value="wybierz">---Wybierz---</option>
                </select>
            </div>
            <div class="form-group">
                <input id="newPassword" type="password" class="form-control" asp-for="@newPassword" />
            </div>
            <div class="form-group align-items-center">
                <input type="submit" value="Zmień hasło" class="btn btn-primary" asp-action="Index" asp-route-newPassword="@newPassword" />
            </div>
        </form>
    </div>
</div>