@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="map"></div>
<div class="text-center">
    <script>
        var map = L.map('map').setView([49.821944, 19.044444], 12);
        
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

/*        map.locate({ setView: true, maxZoom: 16 });*/

        L.marker([49.821944, 19.044444]).addTo(map)
            .bindPopup('Bielsko-Biała')
            .openPopup();
    </script>
</div>
